body {
    display: flex;
    flex-direction: column;
    align-items: center; /* or flex-start if you want elements aligned to the top */
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image fully covers the screen */
    background-position: center; /* Centers the background */
    height: 100vh;
}
.tick, .cross{
    background-image: url("./assets/tick.svg");
    background-size: cover;  /* Ensures it covers the entire element */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat;  /* Prevents repeating */
}
.cross{
    background-image: url("./assets/cross.svg");
}